* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  background: #1e1e1e; /* Dark background */
  position: absolute;
  top: 0;
  left: 0;
  background-image: radial-gradient(#555555 1px, transparent 1px),
    /* Major grid dots */ radial-gradient(#333333 1px, transparent 1px); /* Minor grid dots */
  background-size: 100px 100px, 20px 20px;
  background-position: 0 0, 0 0;
  cursor: crosshair;
}
